header {
    align-self: flex-start;
}

body {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
}

button {
    font-family: Poppins;
}

.slogan {
    font-size: 1rem;
    background-color: rgba(255, 235, 125, 0.3);
    text-align: start;
    padding: 0.4em;
    display: inline-block;
}

.status-done {
    background-color: #26ff60;
    border: 2px solid rgba($color: #26ff60, $alpha: 0.6);
    border-radius: 4px;
    color: black;
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1rem;
}

.status-todo {
    background-color: white;
    border: 2px solid rgba($color: #8f8f8f, $alpha: 0.6);
    border-radius: 4px;
    color: #8f8f8f;
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1rem;
}


.status-progress {
    background-color: #ffc226;
    border: 2px solid rgba($color: #ffc226, $alpha: 0.6);
    border-radius: 4px;
    color: black;
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1rem;
}

.del-button {
    background-color: white;
    border: 2px solid rgba($color: #ff2e54, $alpha: 0.6);
    border-radius: 4px;
    color: rgba($color: #ff2e54, $alpha: 0.6);
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;

    svg {
        padding-top: 0.4em;
        width: 1.4em;

        path {
            stroke: rgba($color: #ff2e54, $alpha: 0.6);
        }
    }

}

.edit-button {
    background-color: white;
    border: 2px solid blueviolet;
    border-radius: 4px;
    color: blueviolet;
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;

    svg {
        padding-top: 0.2em;
        width: 1.4em;

        path {
            stroke: blueviolet;
        }
    }

}

.task-button {
    align-self: flex-end;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;
    border: 2px solid blueviolet;
    border-radius: 4px;
    color: blueviolet;
    padding: 0.6em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    table {
        width: 100%;
        border-collapse: collapse;

        tr {
            border-bottom: thin solid rgba($color: #000000, $alpha: 0.2);
            height: 2.4em;
        }

        th,
        td {
            text-align: center;
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 50%;
            padding: 0.4em;
        }

        th:nth-child(4),
        td:nth-child(4) {
            text-align: end;
            width: 10%;
            padding-right: 0.4em;
        }


    }
}


@media only screen and (min-width: 920px) {

    header {
        margin-left: 1em;
    }

    .tasks {
        width: 80%;
    }

}

@media only screen and (min-width: 1100px) {

    header {
        margin-left: 1em;
    }
    .tasks {
        width: 60%;
    }

}
